.container .progress{

  margin-top: 150px;
}


li .active{
  color: orange;
  font-size: 18px;
}

.container .button{
  margin-right: auto;
}
h1{
  color: orange;
  font-size: 18px;
}
p{
  font-size: 15px;
}
h2{
  font-size: 20px;
  color: black;

}
 #block2,#block1{
  
  border-radius: 10px 5px 10px 5px;
}
h3{
top: 80%;
}
.well{
  width: 400px;
  height: 100px;
  padding-top: 50px;
  margin-top: 50px;
}
